section{
    display: grid;
    justify-content: center;
    justify-items: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: auto;
}


p{
    text-align: justify;
    font-size: 19pt;
    width: 850px;
    height: auto;
    border-radius: 6px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h2{
    padding: 10px;
    font-size: 28pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 850px;
    height: auto;
    text-align: justify;
    border-radius: 8px;
    margin-left: 5px;
    background-color: aliceblue;
    color: black;
}

body{
    background-color: rgba(255, 255, 255, 0.323);
    color: rgb(0, 0, 0);
    margin: 0;
}


h1{
    font-size: 52pt;
    width: 500px;
    height: auto;
}

header{
    display: flex;
    justify-content: center;
}

span{
    color: black;
    display: flex;
    text-align: justify;
    width: 500px;
    height: auto;
    font-size: 16pt;
}

#section-do-formulário{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 40vh;
    
}

#h3-contato{
    width: 400px;
    padding: 10px;
}

#div-but-inicio{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

input{
    border: none;
    outline: none;
    background-color: rgb(138, 138, 138);
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 14pt;
}

img{
    border-radius: 50%;
}

#but-form{
    background-color:#FC814A;
    color: white;
    font-size: 14pt;
    font-weight: bolder;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    margin-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#but-form:hover{
    background-color: darkblue;
}

textarea{
    outline: none;
}

label{
    color: black;
    font-size: 13pt;
    margin-top: 5px;
}

form{
    display: grid;
    
}

h3{
    color: black;
    font-size: 28pt;
}

#div-contato{
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-items: left;
    background-color: white;
    width: 96%;
    height: auto;
    border: 1px solid black;
    margin-left: 7px;
}

#but-inicio{
    background-color: transparent;
    color: #FC814A;
    border: none;
    cursor: pointer;
    font-size: 17pt;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#but-contato{
    background-color:  #fc814a;
    color: white;
    border: 1px solid white;
    border-radius: 35px;
    cursor: pointer;
    font-size: 17pt;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

#but-contato:hover{
    background-color: orange;
}

#header-superior{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    background-color: darkblue;
    padding: 6em;
    border-bottom: 2px solid #FC814A;
}

#footer-finish{
    background-color: darkblue;
}

#titulo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#header-superior{
    background-image: url(./imagens/love-header\ \(1\).webp)
}

@media screen and (max-width:680px) {

    section{
        display: grid;
    }

    img{
        width: 360px;
    }

    h2{
        width: 400px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

    }

    #but-inicio{
        font-size: 17pt;
    }

    #but-contato{
        font-size: 17pt;
    }

    p{
        width: 380px;
        font-size: 22pt;
    }

    h1{
        font-size: 44pt;
        margin: 16px;
    }

    header{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    form{
        display: grid;
        height: 30vh;
        padding: 30px;
        color: black;
        
    }

    label{
        display: flex;
        margin-top: 8px;
        font-size: 15pt;
    }

    #section-do-formulário{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    input{
        border: 2px solid black;
        border-radius: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15pt;
    }

    #textarea-mapa{
        border: 2px solid black;
        font-size: 15pt;
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
    }

    #but-form{
        background: #FC814A;
        color: white;
        font-size: 16pt;
        font-weight: bolder;
        margin-top: 3px;
    }

    #div-contato{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    h3{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    span{
        color: black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        text-align: justify;
        padding: 5px;
        width: 380px;
        font-size: 19pt;
    }

    #header-superior{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: darkblue;
        padding: 6em;
    }

    #titulo{
       margin-left: 30px;
    }
}